@charset "UTF-8";

.tag {
    display: inline-block;

    min-width: 3em;
    padding-inline: 4pt;

    text-align: center;
    font-variant: small-caps;
    font-size: smaller;

    border-radius: 4px;
    border: 1px solid #EEE;
}
.tag--err { color: white; background-color: red; }
.tag--warn { color: black; background-color: yellow; }
.tag--misc { color: white; background-color: grey; }
.tag--note { color: black; background-color: var(--nc-ac-1, cyan); }

.message-display {
  /* Keeps the height from "jumping" when display messages with and without
   * placeholders --- placeholders make the box 1.5 rem tall. */
  min-height: 1.5rem;
}

.placeholder {
    display: inline-block;
    padding-inline: .4rem;

    font-family: var(--nc-font-sans);

    color: var(--nc-lk-tx);
    background-color: var(--nc-lk-2);

    border: 1px dotted var(--nc-lk-tx);
    border-radius: 4px;
}

/* When a placeholder has a comment associated with it, it will have a hover-over tooltip. */
.placeholder[title] {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: help;
}

.choice {
    display: block;
    padding-inline-start: 1rem;
    padding-block: .2rem;

    cursor: pointer;
}
.choice:hover {
    color: var(--nc-lk-tx, white);
    background: var(--nc-lk-2, #0070F3);
}
.choice--disabled {
  opacity: .8;
  cursor: not-allowed;
}
.choice--disabled:hover {
  background-color: var(--nc-bg-3);
}

.action-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.action-bar__confirm { flex: 0 }
.action-bar__spacer { flex: 1 }

.bottom-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding-block: 1rem;

  background-color: var(--nc-bg-3);
}

.make-room-for-bottom-panel {
  margin-bottom: 3rem;
}

/* Utility classes */

.no-bullet { list-style: none }
.no-padding { padding: 0 }
.no-margin { margin: 0 }
.no-underline { text-decoration: none }

.content-width {
  max-width: 750px;
  margin-inline: auto;
}
