{% extends "base.html" %}

{% block main %}
  <details>
    <summary> About these messages </summary>
    <p>Messages were collected from the following
    <code>compiler.properties</code> file:
    <dl>
      <dt>JDK Version</dt>
      <dd>{{ PROPERTIES_JDK_VERSION }}</dd>
      <dt>SHA-256 of file</dt>
      <dd><code>{{ PROPERTIES_SHA_256 }}</code></dd>
      <dt>Permalink</dt>
      <dd><a href="{{ PROPERTIES_PERMALINK }}">compiler.properties on GitHub</a></dd>
    </dl>
  </details>

  <p>{{ messages|count }} messages</p>

  <ul>
    {% for m in messages %}
      <li>
        <a href="{{ url_for('message_detail', message_id=m.name) }}">
          <span class="tag tag--{{ m.level }}">{{ m.level }}</span>
          <code>{{ m.text }}</code>
        </a>
      </li>
      {% endfor %}
  </ul>
{% endblock %}
