{% extends "base.html" %}

{% block title %}Rating {{ message.name }} | javac message explorer{% endblock %}
{% block head %}
  <script src="{{ url_for('static', filename="rate.js") }}"></script>
{% endblock %}

{% block main %}
  <p>
    Viewing <span class="tag tag--{{ message.level }}">{{ message.level }}</span>
    <code>{{ message.name }}</code>:
  </p>

  <pre class="message-display"><code>
  {%- for item in components -%}
    {%- if item.is_text -%}
      {{ item.text }}
    {%- else -%}
      <span class="placeholder"
            data-index={{ item.index }}
            data-type="{{ symbol }}"
            {% if item.comment %}title="{{ item.comment }}"{% endif %}
            >{{ item.type|default(item.index, true) }}</span>
    {%- endif -%}
  {%- endfor -%}
  </code></pre>

  <p><a href="https://github.com/openjdk/jdk/search?q={{ message.resource_name }}">Find usages on GitHub of
    <code>{{ message.resource_name }}</code></a></p>
  <p><a href="{{ stack_overflow_search }}">Find examples on StackOverflow</a></p>

  <form method="POST" action="" id="rating" style="display:none">
    <fieldset>
      <legend>This message exhibits...</legend>

      <ul class="no-bullet no-padding">
        {% for id, name in tags.items() %}
          <li class="no-margin"><label class="choice"><input type="checkbox" name="tag-{{ id }}"> {{ name }}</label></li>
        {% endfor %}
        <li class="no-margin">or</li>
        <li class="no-margin"><label class="choice"><input id="none" type="checkbox" name="none"> None of the above</label></li>
      </ul>
    </fieldset>

    <div class="action-bar">
      <span class="action-bar__spacer"></span>
      <button id="submit" class="action-bar__confirm" type="submit">Confirm rating and continue ➡️</button>
    </div>
  </form>

  <footer class="bottom-panel">
    <div class="action-bar content-width">
      <a href="{{ url_for('previous_message', message_id=message.name) }}">
        <button>Previous message</button>
      </a>

      <a href="{{ url_for('next_message', message_id=message.name) }}">
        <button>Next message</button>
      </a>
    </div>
  </footer>
{% endblock %}
